*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html , body{
    width: 100%;
    height: 100%;
}
body::-webkit-scrollbar {
    display: none;
  }
@font-face {
    font-family: popins-bold;
    src: url("./assets/Poppins/Poppins-Bold.ttf");
}
@font-face {
    font-family: popins-light;
    src: url("./assets/Poppins/Poppins-Medium.ttf");
}
@font-face {
    font-family: popins-light-italic;
    src: url("./assets/Poppins/Poppins-LightItalic.ttf");
}
@font-face {
    font-family: popins-medium;
    src: url("./assets/Poppins/Poppins-Medium.ttf");
}
.hero{
    /* background-image: url("./assets/IMG-20240107-WA0241.jpg"); */
    position: relative;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.hero-bg{
    width: 100vw;
}
.nav{
    position: absolute;
    z-index: 9;
    top: 0%;
    width: 100vw;
    height: 10vh;
    /* background-color: #77181877; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.466), rgba(255, 255, 255, 0));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px 10px 0px;
    /* border-bottom: 1px solid #000; */
}
.logo{
    height: 10vh;
    position: relative;
    width: 300px;
    color: #000;
    /* background-color: #96C479; */
}
.logo-img{
    position: absolute;
    z-index: 99;
    /* opacity: 0; */
    /* background-color: #fff; */
    padding: 0px 10px 0px 30px;
    margin: 6px 0px;
    height: 80%;
    align-items: center;
}
.logo-text{
    left: -100px;
    color: #fff;
    position: absolute;
    font-family: "popins-bold";
    font-size: 35px;
    margin-top: 10px;
}
.navigation{
    width: 35vw;
    height: 100%;
    /* background-color: #96C479; */
    color: #07002e;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.topnav{
    margin-left: 5vw;
}
.topnav>ul{
    list-style-type: none;
    display: flex;
    gap: 30px;
    font-family: "popins-light";
    font-size: 13px;
}
.bottomnav{
    width: 35vw;
    /* background-color: #96C479; */
}
.bottomnav>ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-family: "popins-light";
    font-size: 20px;
}
li>a{
    color: black;
    padding: 5px 10px;

    text-decoration: none;
}
ul>li:hover{
    font-weight: bolder;
    /* background-color: #ffffff31; */
    /* background-color: #fff; */
    /* opacity: .5; */
    /* text-decoration: overline;  */
}


.main{
    /* color: #07002e; */
    color: #fff;
    position: absolute;
    top: 12vh;
    margin: 400px 20px 0px 80px;
    padding: 10px 20px;
    /* background-color: #00000030; */
}
.main>h1{
    font-size: 50px;
    font-family: "popins-bold";
    /* text-shadow: 0 0 20px #a8a8a8; */
}
.main>h3{
    /* font-size: 50px; */
    font-family: "popins-light";
    background-color: #000000;
    padding: 5px 20px;
    width: fit-content;
    letter-spacing: 4px;
}

.second{
    width: 100vw;
    height: 100vh;
    background-color:#07002e;
    font-family: "popins-bold";
}
.top{
    width: 100%;
    height: 30vh;
    /* background-color: #e4ffd4; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.counting{
    width: 20vw;
    height: 10vw;
    border-radius: 30px;
    /* background-color: #578eda; */
    color: #fff;
    /* color: #000; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.counting>p{
    font-family: "popins-light";
}
.number>span{
    font-size: 40px;
    justify-content: space-around;
}

.bottom{
    width: 100%;
    height: 70vh;
    padding: 80px 200px;
}
.bottom>h1{
    width: 80%;
    line-height: 80px;
    font-size: 80px;
}
.first-h1{
    color: #cd3359;
}
.second-h1{
    color: #fff;
}
.last-h1{
    color: #96C479;
    margin-left: 300px;
}
.slide-one{
    position: absolute;
    margin: 0px 70px;
    width: 90vw;
    height: 65vh;
    border-radius: 50px;
    overflow: hidden;
    background-color: #27374D;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.slide-one>img {
height: 100%;
    
}

.third{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color:#07002e;
}
.strip{
    height: 30vh;
    display: flex;
    gap: 20px;
    padding: 10px 0px;
}
.strip>img{
    height: 100%;
    width: 700px;
    border-radius: 20px;
}
.strip:nth-child(2n){
    margin-left: -1000px;
}
.head{
    width: 100vw;
    height: 70px;
    /* background-color: #215700; */
    padding: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.head>h1{
    /* background-color: aquamarine; */
    /* color: #07002e; */
    color: #fff;
    font-size: 40px;
    margin-bottom: 20px;
    margin-left: -400;
    font-family: "popins-bold";
}
.ex-campus-life{
    color: #07002e;
    background-color: #fff;
    /* border: 3px solid #07002e; */
    padding: 10px 30px;
    margin-right: 30px;
    border-radius: 30px;
    font-weight: bolder;
    text-decoration: none;
    font-family: "popins-medium";
    box-shadow: 1px 1px 6px rgb(142, 142, 142);
}
.ex-campus-life:hover{
    color: #fff;
    background-color: #07002e;
    padding: 10px 30px;
    margin-right: 30px;
    border-radius: 30px;
    text-decoration: none;
    box-shadow: none;
    font-family: "popins-medium";
}

.forth{
    width: 100vw;
    height: 100vh;
    /* background-color: rgb(106, 127, 146); */
    position: relative;
}
.about{
    width: 100%;
    color: #07002e;
    /* background-color: #ffaaaa; */
    display: flex;
    align-items: center;
    gap: 100px;
    height: fit-content;
    padding: 100px 10px ;
    font-family: "popins-light";
    /* background-color: #000; */
}
.about img{
    width: 300px;
    margin-left: 250px;
}
.textabout{
    width: 30vw;
}
.textabout h5{
    text-transform: uppercase;
    opacity: .7;
    margin-bottom: 5px;
} 
.textabout p{
    line-height: 1.4;
    font-size: 15px;
    margin-bottom: 30px;
}
.textabout a{
    width: 200px;
    color: #fff;
    background-color: #07002e;
    text-decoration: none;
    display: flex;
    align-items: center;
    /* border: 1px solid #37ff00; */
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 15px;
    box-shadow: 1px 1px 6px rgb(106, 106, 106);
}
#arrow{
    position: absolute;
}

.footer{
    width: 100vw;
    height: 25vh;
    position: absolute;
    bottom: 0px;
    background-color: #07002e;
    color: #fff;
    padding: 20px 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "popins-light-italic";
}
address{
    font-size: 15px;
}
.contact{
    font-size: 11px;
}
.contact>h4{
    color: #d4d4d4;
}
.address>pre{
    font-size: 50px;
    /* font-family: "popins-light-italic"; */
}
.social>h3{
    margin-left: 20px;
}
.social>a{
    text-decoration: none;
    color: #fff;
    margin: 5px 10px;
    font-size: 20px;
    padding: 10px 10px;
}
.social>a:hover{
    padding: 10px 10px;
    border-radius: 10px;
    background-color: #96C479;
}